#header {
    background-color: #0b6fdc;
    padding-bottom: 3px; /* Add some padding */  
    width: 100%; /* Adjust height as needed */
    padding-top: 5px;
    margin-top: -22px;

}
#header h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
#header p {
    text-align: center;
    color: white;
    font-style: italic;
    margin-top: -20px;
}
/* STILL NEED TO ADD SOME MORE BLUE BACKGROUND BELOW THE WELCOME TEXT */

h2 {
    font-family: Arial;
    text-transform: uppercase;
    font-size: 20px;
    padding-bottom: 5px;
    margin-top: 25px;
    margin-bottom: 25px;

}